mixin skill(skillName, skillPercent)
  .skill
    - var r = 45
    svg(viewBox="0 0 100 100").skill__circle-shape
      circle(cx="50" cy="50" r=r).skill__circle.skill__circle_under
      circle(cx="50" cy="50" r=r ref="color-circle" stroke="url(#gradient)" stroke-dasharray=`${2 * Math.PI * r}` stroke-dashoffset=`${2 * Math.PI * r * (1 - skillPercent / 100)}` transform='rotate(180 50 50)').skill__circle.skill__circle_above
      linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
        stop(offset="0%" stop-color="#ea7400")
        stop(offset="100%" stop-color="#f29400")
    .skill__circle-text #{skillName}